<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Vue Boolflix</title>
        <link rel="icon" href="img/fiveicon.png" type="image/png" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>



        <div id="app" v-if="load === true">

            <video autoplay loop muted  id="myVideo" class="bgvid" v-if="!isMobile()">
                <source src="video/DaL.mp4" type="video/mp4"/>
            </video>

            <header>
                <div class="container-menu" :class="{'scroll-color': scrolled}">
                    <div class="menu-left">
                        <div class="box-logo">
                            <a href="index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <div class="box-menu">
                            <ul>
                                <li>Home</li>
                                <li>Serie tv</li>
                                <li>Film</li>
                                <li>Nuovi e popolari</li>
                                <li>La mia lista</li>
                            </ul>
                        </div>
                    </div>
                    <div class="menu-right">
                        <div class="box-search">
                            <input v-model="cerca" @keyup.enter="cerco_film()"  type="text" placeholder="Cerca..." class="right-input">
                            <i @click="cerco_film()" class="fas fa-search"></i>
                        </div>
                        <div class="box-profile">
                            <div class="box-notify">
                                <i class="fas fa-bell"></i>
                            </div>
                            <div class="box-img-profile">
                                <img src="img/user1.png" alt="user">
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <main>

                <section id="hero">
                    <div class="jumbotron jumbotron-fluid">
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-4">
                                  <div class="box-info">
                                      <img src="img/hero1.webp" alt="">
                                      <h1>Guarda subito la stagione1</h1>
                                      <p class="lead">È nato come un gioco, ma più scrivono, più si innamorano. Due persone perfette sulla carta possono legare nella realtà?</p>
                                  </div>
                                  <div class="box-button">
                                      <div class="btn btn-success btn-riproduci" @click="autoplay()"><i class="fas fa-play"></i> {{autoplay ? 'stop' : 'riproduci'}} </div>
                                      <div class="btn btn-danger btn-info"><i class="fas fa-info-circle"></i> Altre info</div>
                                  </div>
                              </div>

                              <div class="box-audio">
                                  <i class="fas fa-volume-mute" @click="audio()"></i>
                              </div>

                          </div>
                      </div>
                    </div>
                </section>

                <section id="card">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title">
                                    <h2 v-if="ricerca">Ricerca in corso..</h2>
                                    <h2 v-else-if="ricerca && tutti_i_contenuti.length == true">Risultati ricerca per: "{{ cerca }}"</h2>
                                    <h2 v-else-if="ricerca">Nessun risultato trovato per la ricerca "{{ cerca }}"</h2>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6" v-for="film in tutti_i_contenuti">
                                <div class="box-card card" ontouchstart="this.classList.toggle('hover');">
                                    <div class="box-img front">
                                        <img v-if="film.poster_path != null" :src="'https://image.tmdb.org/t/p/' + grandezza_img + film.poster_path" :alt="film.title">
                                        <img v-else src="img/no-cover.png" alt="">
                                    </div>
                                    <div class="box-information back">
                                        <div class="box-title">
                                            <h2>{{film.title ? film.title : film.name}}</h2>
                                        </div>
                                        <div class="box-original-title">
                                            <p>{{film.original_title ? film.original_title : film.original_name}}</p>
                                        </div>
                                        <div class="box-language">
                                            <img v-if="lingua.includes(film.original_language)" :src="'img/' + film.original_language+'.png'" alt="">
                                            <p v-else>Lingua: {{film.original_language}}</p>
                                        </div>
                                        <div class="box-vote">
                                             <div class="stars" v-if="Math.ceil(film.vote_average / 2 != 0)">
                                                 <i v-for="i in Math.ceil(film.vote_average / 2 )" class="fas fa-star"></i>
                                                 <i v-for="i in ( 5 - Math.ceil(film.vote_average / 2 ))" class="far fa-star"></i>
                                            </div>
                                            <p v-else>Non ci sono voti</p>
                                        </div>
                                        <div class="box-overview">
                                            <p>{{ tronco_stringa(film.overview, 100) }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </main>
            <!-- fine app -->
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
