* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

ul,
li {
	list-style-type: none;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
}

p {
	font-size: 14px;
}

.fas {
	color: darkgoldenrod;
}

.scroll-color {
	background-color: rgb(20, 20, 20);
	transition: 0.5s;
}

body {
	background: #000;
	color: white;
	min-height: 200vh;
}

header .container-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 10px 50px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7) 10%, rgba(0, 0, 0, 0));
	position: fixed;
	width: 100%;
	z-index: 1;
	transition: 0.5s;
}

header .container-menu .menu-left {
	display: flex;
	align-items: center;
}

header .container-menu .menu-left .box-menu {
	margin-left: 20px;
}

header .container-menu .menu-left .box-menu ul {
	display: flex;
	margin: 0 auto;
}

header .container-menu .menu-left .box-menu ul li {
	margin-right: 15px;
	font-size: 14px;
	font-weight: 300;
	cursor: pointer;
}

header .container-menu .menu-left .box-logo img {
	width: 100px;
}

header .container-menu .menu-right {
	display: flex;
	justify-content: center;
	align-items: center;
}

header .container-menu .menu-right .box-search .right-input {
	padding: 5px;
	border: none;
	border-radius: 3px;
	margin-right: 5px;
}

header .container-menu .menu-right .box-search i {
	cursor: pointer;
	color: white;
}

header .container-menu .menu-right .box-profile i {
	cursor: pointer;
	color: white;
	font-size: 25px;
}

header .container-menu .menu-right .box-profile {
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .container-menu .menu-right .box-img-profile {
	margin-left: 10px;
}

header .container-menu .menu-right .box-img-profile img {
	width: 40px;
	cursor: pointer;
}

main #card {
	position: relative;
	background: #000;
}

main #card .box-card {
	margin-top: 30px;
	cursor: pointer;
}

main #card .box-card {
	margin-top: 30px;
	cursor: pointer;
}

main #card .box-card .box-img img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 4px;
}

main #card .box-card .box-img {
	margin-bottom: 20px;
}

main #card .box-card .box-information {
	width: 100%;
	height: 100%;
	padding: 10px;
	position: absolute;
	border-radius: 6px;
	overflow-y: scroll;
}

main #card .box-card .box-language img {
	width: 30px;
}

main #hero .jumbotron {
	/*background: url("img/hero2.png");*/
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 600px;
	padding-top: 150px;
}

main #hero .jumbotron .container h1 {
	margin: 20px auto;
	font-size: 22px;
}

main #hero .jumbotron .container p {
	font-size: 16px;
}

main #hero .jumbotron .container img {
	width: 500px;
}

main #hero .jumbotron .container .box-audio {
	z-index: 1;
	position: absolute;
	right: 40px;
	bottom: 300px;
}

main #hero .jumbotron .container .box-audio i {
	z-index: 1;
	font-size: 30px;
	color: white;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	padding: 10px;
}

main #hero .jumbotron .container .col-lg-4 .box-button {
	margin-top: 30px;
}

main #hero .jumbotron .container .col-lg-4 .box-button .btn {
	padding: 8px 30px;
}

main #hero .jumbotron .container .col-lg-4 .box-button .btn-riproduci {
	color: #000;
	background: #fff;
	margin-right: 20px;
	border: none;
}

main #hero .jumbotron .container .col-lg-4 .box-button .btn-info {
	background-color: rgba(109, 109, 110, 0.7);
	color: #fff;
	border: none;
}

main #hero .jumbotron .container .col-lg-4 .box-button .fa-play {
	color: #000;
	margin-right: 10px;
}

main #hero .jumbotron .container .col-lg-4 .box-button .fa-stop-circle {
	color: #000;
	margin-right: 10px;
}

main #hero .jumbotron .container .col-lg-4 .box-button .fa-info-circle {
	color: #fff;
	margin-right: 10px;
}

main #card .card {
	perspective: 1200px;
	border: none;
	background: #000;
}

main #card .front {
	position: relative;
	transition: transform .8s ease;
	overflow: hidden;
	backface-visibility: hidden;
}

main #card .back {
	position: absolute;
	transition: transform .8s ease;
	overflow: hidden;
	backface-visibility: hidden;
}

main #card .back {
	color: #ffffff;
	background-color: #940000;
	transform: rotateY(180deg);
}

main #card .card:hover .front {
	transform: rotateY(-180deg);
}

main #card .card:hover .back {
	transform: rotateY(0deg);
}

video.bgvid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background: url(img/hero2.png) no-repeat;
	background-size: cover;
	z-index: 0;
}

video {
	display: block;
}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 220px) and (max-width: 767px) {
	header .container-menu .menu-left .box-menu {
		display: none;
	}
	main #card {
		padding: 50px;
	}
	header .container-menu .menu-right .box-profile {
		display: none;
	}
	header .container-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		position: relative;
	}
	main #hero .jumbotron .container img {
		width: 100%;
	}
	main #hero .jumbotron {
		background: url("img/hero2.png");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 600px;
		padding-top: 150px;
	}
	main #hero .jumbotron .container .col-lg-4 .box-button {
		display: none;
	}
}